#container-login {
    width: auto;
    height: auto;

    background-color: white;
    padding: 30px;

    box-shadow: 0px 3px 3px 0px rgba(155,155,155,1);
}

#container-login h1 {
    text-align: center;

    color: var( --secondaryColor );
}